body {
	background-color: #cbcbcb;
	text-align: center;
}
h1{
	margin:0;
}
.wrapper{
	background-color: white;
	height: 350px;
	width: 1000px;
}
.right{
	height: 200px;
	width: 200px;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
}
table {
	table-layout: fixed;
    width: 500px;  /* Important */
    margin-top: 20px;
    display: inline-block;
}

td, th {
    width: 155px;

}

tr:nth-child(even) {
    background-color: #dddddd;
}